target/
test.http.get/
.classpath
.project
.settings/
.idea/
hydra-local/
hydra-data/indexes/
hydra-data/query.tmp
hydra*.iml
pom.xml.versionsBackup
.#*
docs/build/
hydra.ipr
hydra.iws
hydra-uber/src/main/resources/hydra-git.properties
*.pyc
hydra-main/web/spawn2/css/main.min.css
hydra-main/web/spawn2/js/main.min.js
/hydra-main/nbactions.xml
etc/
hydra-auth/
hydra-main/etc/
hydra-main/log/
log/
hydra-main/web/spawn2/node_modules/