target/
test.http.get/
.classpath
.project
.settings/
.idea/
hydra-local/
hydra-data/indexes/
hydra-data/query.tmp
hydra*.iml
pom.xml.versionsBackup
.#*
docs/build/
hydra.ipr
hydra.iws
hydra-uber/src/main/resources/hydra-git.properties
*.pyc
/hydra-main/nbactions.xml
etc/
log/
hydra-auth/
hydra-main/etc/
hydra-main/log/
hydra-main/web/spawn2/
hydra-web/node_modules/
hydra-main/web/spawn2/build/